ADMIN_EMAIL="no-reply@netcrave.network"
SID="01A"
SERVER_NAME="irc.netcrave.network"
NETWORK_NAME="NetcraveIRC"
STS_HOST="irc.netcrave.network"
SASL_TARGET="service.netcrave.network"
ADMIN_PASSWORD="changeme"
COMMAND_RATE="128000"
FAKE_LAG="on"
HARD_SENDQ="1M"
MAX_CHANS="256"
PING_FREQ="64"
RECVQ="8K"
SOFT_SENDQ="8192"
COMMAND_RATE_THRESHOLD="128"
COMMAND_RATE_THRESHOLD_TIMEOUT="16"
USE_CONN_FLOOD="yes"
USE_DNSBL="yes"
USE_IDENT="no"
GLOBAL_MAX="32"
LOCAL_MAX="16"
MAX_CONN_WARN="yes"
DEFAULT_USER_MODES="+xWz"
PORT="6667"
RESOLVE_HOST_NAMES="yes"
USE_CONNECT_BAN="yes"
SSL_USER_MODES="+xWz"
SSL_PORT="6697"
AUTHENTICATED_USER_MODES="+xwWz"
SERVER_SSL_PORT="7000"
OPER_CHANNEL="#oper"
HTTP_ACL_PASSWORD="changeme"
HTTP_ACL_USERNAME="netcrave"
SERVICE_CHANNEL="#services"
HELP_CHANNEL="#help"
MAX_AWAY="256"
MAX_CHAN="31"
MAX_GECOS="256"
MAX_HOST="64"
MAX_IDENT="16"
MAX_KICK="256"
MAX_MODES="32"
MAX_NICK="31"
MAX_QUIT="256"
MAX_TOPIC="256"
ALLOW_MISMATCH="yes"
ALLOW_ZERO_LIMIT="yes"
ANNOUNCE_TS="yes"
CYCLE_HOST_TS="yes"
CYCLE_HOST_FROM_USER="no"
HOST_IN_TOPIC="yes"
INVITE_BYPASS_MODES="yes"
MODES_IN_LIST="yes"
NO_SNOTICE_STACK="yes"
PING_WARNING="8"
PREFIX_PART="&quot;"
PREFIX_QUIT="QUIT: &quot;"
SERVER_PING_FREQ="8"
SPLIT_WHOIS="no"
SUFFIX_PART="&quot;"
SUFFIX_QUIT="&quot;"
SYNTAX_HINTS="yes"
XLINE_MESSAGE="DEAUTHORIZED"
CLONES_ON_CONNECT="yes"
NET_BUFFER_SIZE="10240"
QUIET_BURSTS="yes"
SOFT_LIMIT="102400"
SO_MAX_CONN="1024"
TIME_SKIP_WARN="2s"
ROLE_PLAY_VHOST="rp.netcrave.network"
CUSTOM_VERSION="NetcraveIRC"
FLAT_LINKS="no"
GENERIC_OPER="yes"
HIDE_BANS="no"
HIDE_MODES="no"
HIDE_SPLITS="yes"
HIDE_ULINES="no"
MAX_TARGETS="16"
RESTRICT_BANNED_USERS="yes"
USER_STATS="Pu"
NET_ADMIN_VHOST="oper/admin.netcrave.network"
GLOBAL_OP_VHOST="oper/op.netcrave.network"
HOPM_VHOST="oper/hopm.netcrave.network"
HELPER_VHOST="oper/helper.netcrave.network"
SERVICES_ULINE="services.netcrave.network"
WS_ORIGIN_ALLOW="irc.netcrave.network"
DEFAULT_BLOCK_HOST_MASK="nothing"
LINK_RECV_PASSWORD="changeme"
LINK_SEND_PASSWORD="changeme"
LINK_TIMEOUT=32
