ADMIN_EMAIL="no-reply@netcrave.network"
SID="01A"
SERVER_NAME="irc.netcrave.network"
NETWORK_NAME="NetcraveIRC"
STS_HOST="irc.netcrave.network"
SASL_TARGET="service.netcrave.network"
ADMIN_PASSWORD="changeme"
COMMAND_RATE="128000"
FAKE_LAG="on"
HARD_SENDQ="1M"
MAX_CHANS="256"
PING_FREQ="64"
RECVQ="8K"
SOFT_SENDQ="8192"
COMMAND_RATE_THRESHOLD="128"
COMMAND_RATE_THRESHOLD_TIMEOUT="16"
USE_CONN_FLOOD="yes"
USE_DNSBL="yes"
USE_IDENT="no"
GLOBAL_MAX="32"
LOCAL_MAX="16"
MAX_CONN_WARN="yes"
DEFAULT_USER_MODES="+xWz"
PORT="6667"
RESOLVE_HOST_NAMES="yes"
USE_CONNECT_BAN="yes"
SSL_USER_MODES="+xWz"
SSL_PORT="6697"
AUTHENTICATED_USER_MODES="+xwWz"
SERVER_SSL_PORT="7000"
OPER_CHANNEL="#oper"
HTTP_ACL_PASSWORD="changeme"
HTTP_ACL_USERNAME="netcrave"
SERVICE_CHANNEL="#services"
HELP_CHANNEL="#help"
MAX_AWAY="256"
MAX_CHAN="31"
MAX_GECOS="256"
MAX_HOST="64"
MAX_IDENT="16"
MAX_KICK="256"
MAX_MODES="32"
MAX_NICK="31"
MAX_QUIT="256"
MAX_TOPIC="256"
ALLOW_MISMATCH="yes"
ALLOW_ZERO_LIMIT="yes"
ANNOUNCE_TS="yes"
CYCLE_HOST_TS="yes"
CYCLE_HOST_FROM_USER="no"
HOST_IN_TOPIC="yes"
INVITE_BYPASS_MODES="yes"
MODES_IN_LIST="yes"
NO_SNOTICE_STACK="yes"
PING_WARNING="8"
PREFIX_PART="&quot;"
PREFIX_QUIT="QUIT: &quot;"
SERVER_PING_FREQ="8"
SPLIT_WHOIS="no"
SUFFIX_PART="&quot;"
SUFFIX_QUIT="&quot;"
SYNTAX_HINTS="yes"
XLINE_MESSAGE="DEAUTHORIZED"
CLONES_ON_CONNECT="yes"
NET_BUFFER_SIZE="10240"
QUIET_BURSTS="yes"
SOFT_LIMIT="102400"
SO_MAX_CONN="1024"
TIME_SKIP_WARN="2s"
ROLE_PLAY_VHOST="rp.netcrave.network"
CUSTOM_VERSION="NetcraveIRC"
FLAT_LINKS="no"
GENERIC_OPER="yes"
HIDE_BANS="no"
HIDE_MODES="no"
HIDE_SPLITS="yes"
HIDE_ULINES="no"
MAX_TARGETS="16"
RESTRICT_BANNED_USERS="yes"
USER_STATS="Pu"
NET_ADMIN_VHOST="oper/admin.netcrave.network"
GLOBAL_OP_VHOST="oper/op.netcrave.network"
HOPM_VHOST="oper/hopm.netcrave.network"
HELPER_VHOST="oper/helper.netcrave.network"
SERVICES_ULINE="services.netcrave.network"
WS_ORIGIN_ALLOW="irc.netcrave.network"
DEFAULT_BLOCK_HOST_MASK="nothing"
LINK_RECV_PASSWORD="changeme"
LINK_SEND_PASSWORD="changeme"
LINK_TIMEOUT=32
CLOAK_KEY="BP4qa616oRTJLnUMYZfdcllopx1mere0OlyyLtsicNh2NRyywd529cmvtZnlbNLCbsIkY7Efk6Dp170u"
CLOAK_IGNORE_CASE="no"
CLOAK_MODE="full"
CLOAK_PREFIX="cloak/"
CLOAK_SUFFIX=".hidden"
BLOCK_AMSG_ACTION="killopers"
BLOCK_AMSG_DELAY="3"
BLOCK_HL_IGNORE_EXT_MESSAGE="yes"
BLOCK_HL_MIN_LEN="50"
BLOCK_HL_MIN_USER_NUM="10"
BLOCK_HL_STRIP_COLOR="yes"
BOT_MODE_FORCE_NOTICE="no"
CHAN_FILTER_HIDE_MASK="yes"
CHAN_FILTER_MAX_LEN="512"
CHAN_FILTER_NOTIFY_USER="yes"
CALLER_ID_COOL_DOWN="4m"
CALLER_ID_MAX_ACCEPTS="256"
CALLER_ID_TRACK_NICK="yes"
CBAN_GLOB="yes"
CHAN_HISTORY_BOTS="yes"
CHAN_HISTORY_ENABLE_UMODE="yes"
CHAN_HISTORY_MAX_LINES="64"
CHAN_HISTORY_PREFIX_MSG="yes"
OPER_CHANNEL_SNOMASK="DdRrtXxLlkKvgfFoO"
CHAN_NAMES_ALLOW_RANGE="35,45-46"
CHAN_NAMES_DENY_RANGE="1-47,58-64,91-96,123-255"
CHANNELS_OPERS="4294967295"
CHANNELS_USERS="4294967295"
CODE_PAGE="ascii"
CONNECT_BAN_BOOT_WAIT="128"
CONNECT_BAN_DURATION="64"
CONNECT_BAN_V4_PREFIX_LEN="32"
CONNECT_BAN_v6_PREFIX_LEN="128"
CONNECT_BAN_SPLIT_WAIT="128"
CONNECT_BAN_THRESHOLD="32"
CTC_TAGS_ALLOW_CLIENT_ONLY_TAGS="no"
DEAF_BYPASS_CHARS=""
DEAF_BYPASS_CHARS_ULINE="!"
DEAF_ENABLE_PRIV_DEAF=""
DEAF_PRIV_DEAF_ULINE=""
DELAY_MSG_ALLOW_NOTICE="yes"
DISABLE_CHMODES=""
DISABLE_COMMANDS=""
DISABLE_FAKENONEXISTANT="no"
DISABLE_USERMODES="w"
HIDECHANS_AFFECTS_OPERS="yes"
HOSTNAME_CHAR_MAP="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ.-_/0123456789,"
HTTPD_TIMEOUT="8s"
IDENT_PREFIX_UNQUERIED="yes"
IDENT_TIMEOUT="2s"
INSANE_HOSTMASKS="no"
INSANE_IPMASKS="no"
INSANE_NICKMASKS="no"
INSANE_TRIGGER="95.5"
INVITE_EXCEPTION_BYPASS_KEY="yes"
IRCV3_ACCOUNT_NOTIFY="yes"
IRCV3_AWAY_NOTIFY="yes"
IRCV3_EXTENDED_JOIN="yes"
JOIN_FLOOD_BOOT_WAIT="32s"
JOIN_FLOOD_DURATION="2m"
JOIN_FLOOD_SPLIT_WAIT="32s"
KNOCK_NOTIFY="both"
LIST_MAX_SIZE="512"
LIST_NORMAL_SIZE="256"
MESSAGE_FLOOD_NOTICE="1.0"
MESSAGE_FLOOD_PRIVMSG="1.0"
MESSAGE_FLOOD_TAG_MSG="0.2"
MONITOR_MAX_ENTRIES="256"
MUTE_BAN_NOTIFY_USER="yes"
NICK_DELAY="4s"
NICK_DELAY_HINT="yes"
NICK_FLOOD_DURATION="64s"
NO_CTCP_ENABLE_UMODE="yes"
OJOIN_NOTICE="yes"
OJOIN_OP="yes"
OJOIN_PREFIX="!"
OPER_PREFIX="*"
OPER_TO_SNOMASK="on"
OVERRIDE_ENABLE_UMODE="yes"
OVERRIDE_NOISY="yes"
OVERRIDE_REQUIRE_KEY="yes"
REMOVE_SUPPORT_NO_KICKS="yes"
REPEAT_MAX_BACK_LOG="20"
REPEAT_MAX_DISTANCE="50"
REPEAT_MAX_LINES="20"
REPEAT_MAX_TIME="0"
REPEAT_MAX_SIZE="512"
RLINE_ENGINE="pcre"
RLINE_MATCH_ON_NICK_CHANGE="yes"
RLINE_ZLINE_ON_MATCH="no"
RESTRICT_CHANS_ALLOW_REGISTERED="no"
SECURE_LIST_EXEMPT_REGISTERED="yes"
SECURE_LIST_SHOW_MSG="yes"
SECURE_LIST_WAIT_TIME="8s"
SHOW_WHOIS_OPER_ONLY="no"
SHOW_WHOIS_FROM_OPERS="yes"
SHUN_AFFECT_OPERS="no"
SHUN_ALLOW_CONNECT="no"
SHUN_ALLOW_TAGS="no"
SHUN_CLEANED_COMMANDS="AWAY PART QUIT"
SHUN_ENABLED_COMMANDS="ADMIN OPER PING PONG QUIT PART JOIN"
SHUN_NOTIFY_USER="yes"
SILENCE_EXEMPT_ULINE="yes"
SILENCE_MAX_ENTRIES="256"
SSL_INFO_OPER_ONLY=""
SSL_ENABLE_UMODE="no"
SVS_HOLD_SILENT="no"
TIMED_BANS_SEND_NOTICE="yes"
WAIT_PONG_KILL_ON_BAD_REPLY="yes"
WAIT_PONG_SEND_NOTICE="yes"
WATCH_MAX="256"
WHOWAS_GROUP_SIZE="10"
WHOWAS_MAX_GROUPS="10000"
WHOWAS_MAX_KEEP="32y"
ZOMBIE_CLEAN_SPLIT="no"
ZOMBIE_DIRTY_SPLIT="yes"
ZOMBIE_MAX="100"
ZOMBIE_SERVER_TIME="5m"
AUDITORIUM_OP_CAN_SEE="no"
AUDITORIUM_OPER_CAN_SEE="yes"
AUDITORIUM_OP_VISIBLE="no"
