ADMIN_EMAIL="no-reply@supernets.org"
SID="01B"
SERVER_NAME="lux.supernets.org"
NETWORK_NAME="SuperNETs"
STS_HOST="irc.supernets.org"
SASL_TARGET="services.supernets.org"
ADMIN_PASSWORD="changeme"
PORT="6667"
SSL_PORT="6697"
SERVER_SSL_PORT="7000"
HTTP_ACL_PASSWORD="changeme"
HTTP_ACL_USERNAME="supernets"
ROLE_PLAY_VHOST="roleplay/supernets.org"
CUSTOM_VERSION="c l a n d e s t i n  e"
NET_ADMIN_VHOST="admin/supernets.org"
GLOBAL_OP_VHOST="oper/supernets.org"
HELPER_VHOST="helper/supernets.org"
SERVICES_ULINE="services.supernets.org"
WS_ORIGIN_ALLOW="lux.supernets.org"
LINK_RECV_PASSWORD="changeme"
LINK_SEND_PASSWORD="changeme"
LINK_TIMEOUT="32"
CLOAK_KEY="changemechangemechangemechangeme"
CLOAK_SUFFIX=".hidden"
TOR_PREFIX="tor/"
DEFAULT_USER_MODES="x"
SSL_USER_MODES="x"
